{% extends 'base.html' %}
{% block content %}

<h1>Trail List</h1>

{% for trail in trail_list %}
<a href=" {% url 'detail' trail.id %}">
    <div class="details">
        <div class="trail_detail" >
            <span class="card-title" id="specifics">Trail: {{ trail.name }}<br>
                Address: {{ trail.address }}<br> {{ trail.city}}, {{ trail.state }}<br>
                Trail Length: {{ trail.trail_length }} miles<br></span>
        </div>
        <div class="amenities_list">Amenities:</div><br>
            {% for amenity in trail.amenities.all %}
            <section class="amenities">
                <div >{{amenity.name}}</div>
            </section>
            {% endfor %}
    </div>
</a>

{% endfor %}

{% endblock %}


        
       