{% extends 'base.html' %}
{% block content %}

<h2>Happy Trails</h2>
<section class="about">
    <p class="about_para">This website was created out of a desire to create a family friendly community of hiking enthusiasts. 
        As a team we wanted to create a website where people could add trails they love, comment, and find new trails based on location 
        or amenities!</p>
    <h2>Our Team</h2>
    <div id="team">
        <div><h3>Allie Bateman</h3> Project Manager & Lead Developer <br>to get in touch with Allie<br>Email: akdbateman@gmail.com </div>
        <div><h3>Shannon Hensley</h3> UX & Design<br> to get in touch with Shannon<br>Email: shannonshensley96@gmail.com </div>
        <div><h3>Adam Wojdyla</h3> GitHub Manager & Lead Developer <br> to get in touch with Adam<br>Email: awojdyla@gmail.com </div>
    </div>
</section>

{% endblock %}