{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happy Trails</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
 
  <header class="navbar-fixed">

    <nav id="navigation">
      <div><a href="/" class="left brand-logo" id="logo">&nbsp;&nbsp;Happy Trails</a></div>
      <div id="links"><a href="{% url 'about' %}">About</a>
        <a href="{% url 'index' %}">View All Trails</a>
      {% if user.is_authenticated %}
      <a href="{% url 'trails_create' %}">Add Trail</a>
      <a href="{% url 'logout' %}">Log Out</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'login' %}">Log In</a></div>
      {% endif %}
    </nav>
    
  </header>
  <main class="container">
    {% if user.is_authenticated %}
    <p class="username">Welcome back, {{ user.username}}!</p>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019 Happy Trails &nbsp;</div>
  </footer>
 
</body>
</html>

