{% extends 'base.html' %}
{% block content %}

<div>
    <section class="phrase">The perfect trail is only a search away</section> 
    <section class="images_front_page">
        <div class="running_front">
            <p><div id="running_icon"></div>Running Trails</p>
        </div>
        <div class="bike_front">
            <p><div id="bike_icon"></div>Bike Trails</p>
        </div>
        <div class="family_front">
            <div id="family_icon"></div>Family Friendly</p>
        </div>
    </section>

    <h3 class="phrase">Search for trails based on amenities below:</h3>

    <form action="{% url 'amenities_search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" class="btn" value="Search">
    </form>

    <h3 class="phrase">Search for trails based on amenities below:</h3>

    <form action="{% url 'trails_search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" class="btn" value="Search">
    </form>
    
</div>

{% endblock %}