body{
  background-color: bisque;
  background-image:url('/static/img/happy_trails_landing_page.jpeg');
  background-repeat:no-repeat;
  background-size:100%;
}

#navigation{
  list-style: none;
  text-decoration:none;
  font-family: 'Lato', sans-serif; 
  display: flex;
  flex-direction: row;
  font-size: 30px;

}

nav > div:first-child {
   margin-right: auto;
   font-size: 64px;
   font-weight:500;
 }

a{
  color: white;
  text-decoration: none;
  
}
#links{
  margin-top: 15px;
  width:40%;
  display: flex;
  justify-content: space-evenly;
}
.username{
  color: white;
  font-family: 'Lato', sans-serif; 
}

h1{
  font-family: 'Lato', sans-serif; 
  text-align: center;
  color: white;
}
.trail_detail{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: 'Lato', sans-serif; 
  height:205px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
  color:rgba(38,84,30,0.87);

  background-color:rgba(255, 255, 255, 0.85);
 
}
footer{
  text-align: right;
  color: white;
}

form{
  display: flex;
  justify-content: center;
}

.card-content{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
}

.form{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
  margin-left: 20%;
  margin-right: 20%;
}

.login{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
}