body{
  background-image:url('/static/img/happy_trails_landing_page.jpeg');
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
  display: grid;
  height: 100vh;
}

#navigation{
  list-style: none;
  text-decoration:none;
  font-family: 'Lato', sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  margin-top: 2%;

}

nav > div:first-child {
   margin-right: auto;
   font-size: 64px;
   font-weight:500;
 }

a{
  color: white;
  text-decoration: none;
  
}
#links{
  margin-top: 15px;
  width:50%;
  display: flex;
  justify-content: space-evenly;
}
/* .login_out{
  height:74px;
  width:134px;
  background-color:rgba(23, 52, 18, 0.80);
  margin-top: 0%;
} */
.username{

  color: white;
  font-family: 'Lato', sans-serif; 
  font-size: 25px;
  margin-left: 3%;
}

h1{
  font-family: 'Lato', sans-serif; 
  text-align: center;
  color: white;
}
.trail_detail{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: 'Lato', sans-serif; 
  height:205px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
  color:rgba(38,84,30,0.87);

  background-color:rgba(255, 255, 255, 0.85);
 
}
footer{
  margin-top: 5%;
  text-align: right;
  color: white;
}

form{
  display: flex;
  justify-content: center;
}

.card-content{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
}

.form{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
  margin-left: 20%;
  margin-right: 20%;
}

.login{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
}

.phrase{
  text-align: center;
  color:white;
  font-family: 'Lato', sans-serif; 
  font-size: 70px;
  margin-right: 27%;
  margin-left: 27%;
}
.images_front_page{
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 18%;
  margin-right: 18%;
  color: white;
  font-family: 'Lato', sans-serif; 
  font-size: 24px;
}
.running_front{
  display: inline-block;
  width: 200px;
 
}
#running_icon{
  height: 100px;
  width:110px;
  background-image: url('/static/img/running_icon.png');
  background-repeat:no-repeat;
  background-size:92%;

}
.bike_front{
  display: inline-block;
  width: 200px;
}
#bike_icon{
  height: 100px;
  width:110px;
  background-image: url('/static/img/bike_icon.png');
  background-repeat:no-repeat;
  background-size:92%;
}
.family_front{
  display: inline-block;
  width: 220px;
}
#family_icon{
  height: 100px;
  width:110px;
  background-image: url('/static/img/family_icon.png');
  background-repeat:no-repeat;
  background-size:92%;
}
.search{
  display: flex;
  justify-content: center;
  height: 72px;
}
.search_input{
  width: 544px;
  margin-right: 10px;
  border:transparent
}
.search_button{
  height: 56px;
  width: 93px;
  margin-top: 7px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color:white;
  background: rgba(23, 52, 18, 0.80);
  border: transparent;
  border-radius: 4%;
  
}
.my_trails{
  color: white;
}