body{
  background-image:url('/static/img/happy_trails_landing_page.jpeg');
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
  display: grid;
  height: 100vh;
}

#navigation{
  list-style: none;
  text-decoration:none;
  font-family: 'Lato', sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  margin-top: 2%;

}

nav > div:first-child {
   margin-right: auto;
   font-size: 64px;
   font-weight:500;
 }

a{
  color: white;
  text-decoration: none;
  
}
#links{
  text-shadow:1px 5px 10px rgba(23, 52, 18, 0.90);
  margin-top: 15px;
  width:50%;
  display: flex;
  justify-content: space-evenly;
}

.username{

  color: white;
  text-shadow: 3px 8px 10px rgba(23, 52, 18, 0.90);
  font-family: 'Lato', sans-serif; 
  font-size: 25px;
  margin-left: 3%;
  margin-bottom: 0%;
}

h1{
  font-family: 'Lato', sans-serif; 
  text-align: center;
  color: white;
  font-size: 48px;
  text-shadow: 3px 8px 10px rgba(23, 52, 18, 0.90);
  
}
.details{
  display: flex;
  flex-direction: column;
  height:205px;
  width: 722px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 30%;
  margin-right: 30%;
  background-color:rgba(255, 255, 255, 0.85);
 
}
footer{
  font-size: 20px;
  margin-top: 5%;
  text-align: right;
  color: white;
  text-shadow:2px 2px 8px rgba(23, 52, 18, 0.90);
}

.form{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
  margin-left: 20%;
  margin-right: 20%;
}

.login{
  background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
}

.phrase{
  text-align: center;
  color:white;
  text-shadow:2px 2px 8px rgba(23, 52, 18, 0.90);
  font-family: 'Lato', sans-serif; 
  font-size: 70px;
  margin-right: 27%;
  margin-left: 27%;
}
.images_front_page{
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;

}
#id_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:45%;
  color: white;
  text-shadow:2px 2px 8px rgba(23, 52, 18, 0.90);
  font-family: 'Lato', sans-serif; 
  font-size: 30px;
}
.running_front{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 270px;
 
}
#running_icon{
  height: 100%;
  width: 100%;
  background-image: url('/static/img/running_icon.png');
  background-repeat:no-repeat;
  background-size:90%;

}
.bike_front{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 270px;
}
#bike_icon{
  height: 100%;
  width: 100%;
  background-image: url('/static/img/bike_icon.png');
  background-repeat:no-repeat;
  background-size:78%;
}
.family_front{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 270px;
}
#family_icon{
  height: 100%;
  width:100%;
  background-image: url('/static/img/family_icon.png');
  background-repeat:no-repeat;
  background-size:89%;
}
.search{
  display: flex;
  justify-content: center;
  height: 72px;
}
.search_input{
  width: 544px;
  margin-right: 10px;
  border:transparent
}
.search_button{
  height: 56px;
  width: 93px;
  margin-top: 7px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color:white;
  background: rgba(23, 52, 18, 0.80);
  border: transparent;
  border-radius: 4%;
  
}
.my_trails{
  color: white;
}

.front_page_search{
  display: flex;
  justify-content: space-evenly;
  height: 25%;
}
.amenities_search{
  width:45%;
  text-align: center;
}

.location_search{
  width:45%;
  text-align: center;
}
.search_phrase{
  font-size: 48px;
  color: white;
  text-shadow:2px 2px 8px rgba(23, 52, 18, 0.90);
  font-family: 'Lato', sans-serif;
}
.click_here{
  font-family: 'Lato', sans-serif; 
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 48px;
  text-shadow: 3px 8px 10px rgba(23, 52, 18, 0.90);
}
.trail_detail{
  text-align: center;
  color:rgba(38,84,30,0.87);
  font-family: 'Lato', sans-serif; 
  font-size: 24px;
}
.amenities_list{
  color:rgba(38,84,30,0.87);
  font-family: 'Lato', sans-serif; 
  font-size: 24px;
}
.card-content{
   background-color:rgba(255, 255, 255, 0.85);
  text-align: center;
  color:rgba(38,84,30,0.87);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}
.edit-delete{
 font-size: 20px;
 text-align: right;
 font-family: 'Lato', sans-serif; 
}
.edit{
  margin-right: 1%;
  color:rgba(23, 52, 18, 0.90);
}
.delete{
 margin-right: 1%;
  color:rgba(23, 52, 18, 0.90);
}
.comment-edit{
  background-color:rgba(23, 52, 18, 0.80);
}
.comment-delete{
  background-color:rgba(23, 52, 18, 0.80);
}
.comment-form{
  display: flex;
  flex-direction: row;
  align-items: center ;
}
textarea{
  height:35px;
}
.btn{
  height:35px;
  font-family: 'Lato', sans-serif; 
  background-color:rgba(23, 52, 18, 0.80);
  color: white;
}
.added-by{
  font-size: 16px;
}
.add_trail_form{
  margin-top: 0px;
  margin-left: 25%;
  margin-right: 25%;
  background-color:rgba(255, 255, 255, 0.85);
  color:rgba(23, 52, 18, 0.90);
  display: flex;
  justify-content: center;

}
h2{
  display: flex;
  justify-content: center;
  align-content: center;
  color:white;
  font-family: 'Lato', sans-serif; 
  font-size:40px;
  text-shadow:2px 2px 8px rgba(23, 52, 18, 0.90);
  margin-bottom: 0px;
  margin-top: 0%;
}
#my-trails{
  background-color:rgba(255, 255, 255, 0.85);
}