{% extends 'base.html' %}
{% block content %}

<h1>Trail Detail</h1>


<div class="card-content">
    <div>
        <div class="edit-delete"><a href="{% url 'trails_update' trail.id %}"class="edit">Edit</a>
        {% if trail.user == request.user %}
        <a href="{% url 'trails_delete' trail.id %}" class="delete">Delete</a></div>
        <span class="trail_detail" >Trail: {{ trail.name }}<br>
        Address: {{ trail.address }}<br>
        {{ trail.city }},{{ trail.state }}<br>
        Trail Length: {{ trail.trail_length }}<br>
        Entered By: {{ trail.user }}</span>
        {% endif %}
    </div>
    <br>
    <div class="amenities_list">Amenities:</div><br>
            {% for amenity in trail.amenities.all %}
            <section>
                <div>{{amenity.name}}</div>
                <div><img src='{{amentiy.image}}'>img</div>
            </section>
            {% endfor %}
    <div>
        <table>
            <thead>
                <tr><th>Date</th><th>Username</th><th>Comment</th></tr>
            </thead>
            <tbody>
                {% for comment in trail.comment_set.all %}
                <tr>
                    <td>{{ comment.date }}</td>
                    <td>{{ comment.user }}</td>
                    <td>{{ comment.description }}</td> 
                    {% if comment.user == request.user %}
                    <td><a href="{% url 'comments_update' comment.id %}" class="comment-edit">Edit</a></td> 
                    <td><a href="{% url 'comments_delete' trail.id comment.id %}" class="comment-delete">Delete</a></td>
                    {% endif %} 
                </tr>
                {% endfor %}
            </tbody>
        </table>       
  </div>
  <div>
            <form action="{% url 'add_comment' trail.id %}" method="POST" class="comment-form">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn" value="Add Comment">
            </form>
  </div>
</div> 




{% endblock %}